h3.intro-text{
	font-family: 'Montserrat', sans-serif;
	text-align:left;
	text-transform:none;
	font-size:88px;
	font-weight:lighter;
	line-height:1.1em;
	color:white;
	box-shadow:none;

}
h6.landscape-text{
	margin-top:100px;
	font-family: 'Raleway', sans-serif;
	text-align:left;
	text-transform:none;
	font-size:30px;
	font-weight:lighter;
	line-height:1.3em;
	color:#2ead56;
	box-shadow:none;
}
li{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.ib{
	text-align:left;
	text-transform:none;
	font-size:40px;
	color:white;
}
.left-align{
	text-align:left;
}
.design-plus-code{
	width:100%;
	display:block;
}
* {
  overflow: hidden;
  margin: 0;
}
body {
  background: #000;
  font-family: 'Montserrat', sans-serif;

}
@keyframes circle {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(6)
	}
}
.circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 20px solid CadetBlue;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 40%;
}
.one {
  animation: circle 4s infinite linear;
}
.two {
  animation: circle 3s infinite linear;
}
.three {
  animation: circle 2s infinite linear;
}